VITE_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# KIS API (Korea Investment & Securities)
KIS_APP_KEY=YOUR_KIS_APP_KEY
KIS_APP_SECRET=YOUR_KIS_APP_SECRET
KIS_ACCOUNT_TYPE=virtual # real or virtual

#FRED API
FRED_API_KEY=